:root {

    --Primarycolor: #eb2f64;
    --Primarycolor-light: #FF3366;
    --Primarycolor-dark: #BA265D;

    --Greycolor-light-1: #faf9f9;
    --Greycolor-light-2: #f4f2f2;
    --Greycolor-light-3: #f0eeee;
    --Greycolor-light-4: #ccc;

    --Greycolor-dark-1: #333;
    --Greycolor-dark-2: #777;
    --Greycolor-dark-3: #999;

}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: var(--Greycolor-dark-2);
    font-family: 'open sans', sans-serif;
    font-weight: 400;
}